.banner {
    &-card {
        width: 35%;
    }
    &-img {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img1.jpg);
        height: 864px;
        width: 50%;
    }
    &-text {
        color: #00000099;
    }
    &-btn {
        width: 211px;
        border: 1px solid #121212;
        color: black;
        background-color: #f1f5f6;
    }
}

.page {
    border-left: 1px solid #000000de;
    border-bottom: 1px solid #000000de;
    &-button {
        border-left: 1px solid #000000de;
        border-right: 1px solid #000000de;
    }
}

.introduction {
    &-img1 {
        width: 50%;
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img2.jpg);
        height: 960px;
    }
    &-img2 {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img3.jpg);
        height: 960px;
    }
    .item1 {
        &-card {
            background-color: #f1f5f6;
            width: 50%;
        }
        &-read {
            background-color: #f1f5f6;
            top: 50%;
            left: 42.3%;
            transform: translate(3%, -53%);
        }
        &-forward {
            background-color: #121212;
            top: 50%;
            left: 50.2%;
            transform: translate(-3%, -53%);
        }
        &-title {
            margin-bottom: 192px;
        }
        &-text {
            color: #00000099;
            width: 570px;
            margin-left: 135px;
        }
    }
    .item2 {
        &-card {
            background-color: #f1f5f6;
            width: 50%;
        }
        &-read {
            background-color: #121212;
            top: 50%;
            left: 42.3%;
            transform: translate(3%, -53%);
        }
        &-forward {
            background-color: #f1f5f6;
            top: 50%;
            left: 50.2%;
            transform: translate(-3%, -50%);
        }
        &-title {
            margin-top: 192px;
        }
        &-text {
            color: #00000099;
            width: 570px;
            margin-right: 135px;
        }
    }
}

.quote {
    &-card {
        width: 43%;
    }
    &-text {
        color: #00000099;
    }
}

.avatar {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/img4.jpg);
    height: 640px;
    &-text {
        color: #00000099;
    }
}
