/* * , *:befor , *:after  {
	box-sizing: border-box;
} */

body {
    font-family: Merriweather, Lato, sans-serif;
    overflow-x: hidden; /* 確保AOS套件在RWD不會出現X軸 */
    line-height: 1.5;
}
img {
    display: block; /* 去除圖片底下的2-3px空白 */
    max-width: 100%; /* 使之貼其父元素，才不會有圖片過大情況發生 */
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1.2;
    margin-bottom: 0;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    &:hover {
        color: pink;
    }
}

p {
    margin-bottom: 0;
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
